/* Global Styles */

* {
  font-family: 'Twinkle Star', cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #01eeff, #e100ff); /* Starting colors */
  background-size: 400% 400%; /* This makes the gradient larger to allow movement */
  animation: gradientAnimation 10s ease infinite; /* Animation for color change */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 16px;
  line-height: 1.6;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #ffffff; /* Light pink color */
  text-shadow: 0 0 5px rgba(254, 255, 255, 0.8); /* Subtle white glow */
}

h2 {
  font-weight: 700;
  margin-bottom: 20px;
  color: #60fff2; /* Light gray */
  
}

.welcome {
  font-weight: 700;
  margin-bottom: 20px;
  color: #60fff2; /* Light gray */
  text-shadow: 0 0 5px rgba(0, 217, 255, 0.8); /* Subtle white glow */
    font-family: "Delius Swash Caps", serif;

  
}

p {
  font-family: "Delius Swash Caps", serif;
  font-size: 1rem;
  color: #e5e7eb; /* Light gray */
  margin-top: 10px;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  font-size: 1rem;
  color: #d1d5db; /* Light gray */
  margin-bottom: 8px;
}

/* Component Specific Styles */
input[type="number"] {
  padding: 12px;
  font-size: 1rem;
  border: 2px solid #4b5563; /* Dark gray */
  border-radius: 8px;
  background-color: #1f2937; /* Dark background */
  color: white;
  width: 200px;
}

button {
  padding: 12px 20px;
  font-size: 1rem;
  font-weight: 600;
  background-color: #52bfff; /* Indigo color */
  border: none;
  border-radius: 8px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #c9f4ff; /* Darker indigo */
}

button:focus {
  outline: none;
}

/* Container for the components */
div {
  margin: 20px 0;
  padding: 20px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.5); /* Transparent background */
}

.mt-4 {
  margin-top: 16px;
}

.ml-2 {
  margin-left: 8px;
}

/* Styling for the History and Meaning sections */
.bg-black-50 {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
}

.bg-indigo-600 {
  background-color: #31d6ff; /* Indigo background */
}

.bg-indigo-800 {
  background-color: #312e81; /* Darker indigo */
}

.rounded {
  border-radius: 12px;
}

.text-center {
  text-align: center;
}

/* Adjustments for mobile responsiveness */
@media (max-width: 600px) {
  input[type="number"] {
    width: 80%;
  }

  button {
    width: 80%;
    margin-top: 10px;
  }

  div {
    width: 90%;
  }

  h1 {
    font-size: 2rem;
  }
}